/*//////////// custom styles for about-me ////////////*/

/* for text beside about-me photo */
.about-me-title-text {
    padding-top: 8%
}

/* for personal details */
.personal-details-box {
    max-width: 58% !important;
}

.exp-tabs {
    justify-content: left !important;
}