/*//////////// custom styles for about-me ////////////*/

/* for text beside about-me photo */
.about-me-title-text {
    padding-top: 8%
}

/* for personal details */
.personal-details-box {
    max-width: 58% !important;
}

.exp-tabs {
    justify-content: left !important;
}


/*//////////// custom styles for interests ////////////*/
.custom-padding-4 {
	padding: 32px 36.8px !important;
	padding: 2rem 2.3rem !important;
}

.custom-primary-font {
    text-align: center;
    font-size: 25px !important;
}
