/*//////////// custom styles for about-me ////////////*/

/* for text beside about-me photo */
.about-me-title-text {
    padding-top: 8%
}

/* for personal details */
.personal-details-box {
    max-width: 58% !important;
}

.exp-tabs {
    justify-content: left !important;
}


/*//////////// custom styles for interests ////////////*/
.custom-padding-4 {
	padding: 32px 36.8px !important;
	padding: 2rem 2.3rem !important;
}

.custom-primary-font {
    text-align: center;
    font-size: 25px !important;
}

.interests-title {
    margin-bottom: 30px !important;
}

/*//////////// custom styles for education ////////////*/
.button-margin{
    margin-top: 10px;
}

.custom-box-w-btn {
    padding: 35px 45px !important;
}


/*//////////// custom styles for contact ////////////*/
.contact-bg-x{
    background: url(/img/contact/contact-bg.jpg) !important;
    background-size: cover !important;
}

/*//////////// custom styles for portfolio ////////////*/

.portfolio-content-pos{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*STYLE SWITHCER

- Skin Colours -
Primary #FDD55C
Secondary #ecf1f7
Tertiary #403f3d
Quaternary #1f1e1c


- Things you need to replace -
Primary #FDD55C
*/

/*

#header.header-floating-icons .header-nav-main nav > ul > li > a:after {
	background: #FDD55C !important;
}

.custom-text-color-3{
    color: black !important;
}

.custom-nav-sort.nav > li.active > a, .custom-nav-sort.nav > li:hover > a {
    background: #FDD55C !important;
    border-color: #FDD55C !important;
}

.custom-bg-color-1 {
	background: #f4f9ff !important;
}
/*